Repository dnd-side-project/dnd-9th-7-frontend, pull requests merged in 2023-08, with the labels that each got.

#8 feat : 전역 스타일링, 레이아웃, theme 설정, craco 로 절대경로 설정
  .eslintrc
  .pnp.cjs
  .yarn/cache/@craco-craco-npm-7.1.0-11b51250c4-d534d1ea78.zip
  .yarn/cache/@cspotcode-source-map-support-npm-0.8.1-964f2de99d-5718f26708.zip
  .yarn/cache/@jridgewell-resolve-uri-npm-3.1.1-aa2de3f210-f5b441fe79.zip
  .yarn/cache/@jridgewell-trace-mapping-npm-0.3.9-91625cd7fb-d89597752f.zip
  .yarn/cache/@tsconfig-node10-npm-1.0.9-f2e2d20feb-a33ae4dc2a.zip
  .yarn/cache/@tsconfig-node12-npm-1.0.11-9710d1c61b-5ce29a41b1.zip
  .yarn/cache/@tsconfig-node14-npm-1.0.3-15321421d2-19275fe80c.zip
  .yarn/cache/@tsconfig-node16-npm-1.0.4-b7cb87d859-2023197859.zip
  .yarn/cache/acorn-walk-npm-8.2.0-2f2cac3177-1715e76c01.zip
  .yarn/cache/arg-npm-4.1.3-1748b966a8-544af8dd3f.zip
  .yarn/cache/cosmiconfig-typescript-loader-npm-1.0.9-87085bf3d5-26a0198e03.zip
  .yarn/cache/craco-alias-npm-3.0.1-dc457f5431-8d9a2bf38f.zip
  .yarn/cache/create-require-npm-1.1.1-839884ca2e-a9a1503d43.zip
  .yarn/cache/diff-npm-4.0.2-73133c7102-f2c09b0ce4.zip
  .yarn/cache/make-error-npm-1.3.6-ccb85d9458-b86e5e0e25.zip
  .yarn/cache/ts-node-npm-10.9.1-6c268be7f4-090adff130.zip
  .yarn/cache/v8-compile-cache-lib-npm-3.0.1-4886071ece-78089ad549.zip
  .yarn/cache/webpack-merge-npm-5.9.0-9110e650de-64fe2c23aa.zip
  .yarn/cache/wildcard-npm-2.0.1-7c6a3a3365-e0c60a12a2.zip
  .yarn/cache/yn-npm-3.1.1-8ad4259784-2c487b0e14.zip
  craco.config.js
  package.json
  src/App.tsx
  src/common/components/Layout/Layout.tsx
  src/common/components/Layout/index.ts
  src/pages/index.tsx
  src/styles/emotion.d.ts
  src/styles/fonts/PretendardVariable.woff2
  src/styles/fonts/font.css
  src/styles/global.tsx
  src/styles/index.ts
  src/styles/theme.ts
  tsconfig.json
  tsconfig.paths.json
  yarn.lock
Labels: ✨feature, :lipstick: design

#12 feat : Icon 컴포넌트 작성
  .eslintrc
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/cache/@dabh-diagnostics-npm-2.0.3-0f2cd64f24-4879600c55.zip
  .yarn/cache/@resvg-resvg-js-npm-2.4.1-3421962d4a-6e1b52704a.zip
  .yarn/cache/@resvg-resvg-js-win32-x64-msvc-npm-2.4.1-75256d6745-8.zip
  .yarn/cache/@types-triple-beam-npm-1.3.2-e1699700a8-dd7b4a563f.zip
  .yarn/cache/clone-buffer-npm-1.0.0-7a16490ce4-a39a35e7fd.zip
  .yarn/cache/clone-npm-2.1.2-1d491c6629-aaf106e9bc.zip
  .yarn/cache/clone-stats-npm-1.0.0-cca25a0a42-654c0425af.zip
  .yarn/cache/cloneable-readable-npm-1.1.3-a5888ff6e9-23b3741225.zip
  .yarn/cache/color-npm-3.2.1-568cf1014f-f81220e8b7.zip
  .yarn/cache/color-string-npm-1.9.1-dc020e56be-c13fe7cff7.zip
  .yarn/cache/colorspace-npm-1.1.4-f01655548a-bb3934ef3c.zip
  .yarn/cache/css-selector-parser-npm-1.4.1-b8c642c4c5-31948754e5.zip
  .yarn/cache/cssom-npm-0.5.0-44ab2704f2-823471aa30.zip
  .yarn/cache/enabled-npm-2.0.0-bf5d96c9d8-9d256d89f4.zip
  .yarn/cache/fecha-npm-4.2.3-75248da3fd-f94e2fb3ac.zip
  .yarn/cache/fn.name-npm-1.1.0-b472333184-e357144f48.zip
  .yarn/cache/is-arrayish-npm-0.3.2-f856180f79-977e64f54d.zip
  .yarn/cache/kuler-npm-2.0.0-19e74c9695-9e10b5a165.zip
  .yarn/cache/lodash.escape-npm-4.0.1-5ea709377f-fcb54f4574.zip
  .yarn/cache/lodash.trim-npm-4.5.1-b920ce5a9f-64b08e97d9.zip
  .yarn/cache/lodash.trimstart-npm-4.5.1-ad539ab14e-4b2d37505a.zip
  .yarn/cache/logform-npm-2.5.1-06017d630d-08fdf03be5.zip
  .yarn/cache/mustache-npm-4.2.0-1fe3d6d77a-928fcb63e3.zip
  .yarn/cache/one-time-npm-1.0.0-aeaad5e524-fd008d7e99.zip
  .yarn/cache/prettysize-npm-2.0.0-7532cc1560-3d61645a02.zip
  .yarn/cache/remove-trailing-separator-npm-1.1.0-16d7231316-d3c20b5a2d.zip
  .yarn/cache/replace-ext-npm-1.0.1-ab0bac6614-4994ea1aaa.zip
  .yarn/cache/safe-stable-stringify-npm-2.4.3-d895741b40-3aeb644497.zip
  .yarn/cache/simple-swizzle-npm-0.2.2-8dee37fad1-a7f3f2ab5c.zip
  .yarn/cache/stack-trace-npm-0.0.10-9460b173e1-473036ad32.zip
  .yarn/cache/svg-sprite-npm-2.0.2-bdf2d5652f-a6b4134220.zip
  .yarn/cache/text-hex-npm-1.0.0-22389e4d56-1138f68adc.zip
  .yarn/cache/triple-beam-npm-1.4.1-d21ba5346a-2e881a3e8e.zip
  .yarn/cache/vinyl-npm-2.2.1-6b14799ad3-1f663973f1.zip
  .yarn/cache/winston-npm-3.10.0-f2a209f843-47df036122.zip
  .yarn/cache/winston-transport-npm-4.5.0-e10bfb2169-a56e5678a8.zip
  .yarn/cache/xpath-npm-0.0.32-d8462585d9-887e9747b9.zip
  package.json
  public/icons/chevronDown2.svg
  public/icons/collection.svg
  sprite-config.json
  src/common/components/SvgIcon/SvgIcon.tsx
  src/common/components/SvgIcon/assets.ts
  src/common/components/SvgIcon/index.ts
  src/common/components/SvgIcon/sprite/symbol/sprite.svg
  src/pages/index.tsx
  yarn.lock
Labels: ✨feature

#15 feat: Navigation, Footer 컴포넌트 작성
  public/icons/musicLog.svg
  public/icons/musicLounge.svg
  public/icons/myPlaylist.svg
  src/common/components/Footer/CalendarPageFooter.tsx
  src/common/components/Footer/Footer.tsx
  src/common/components/Footer/index.ts
  src/common/components/Layout/Layout.tsx
  src/common/components/Navigation/CalenderPageNavigation.tsx
  src/common/components/Navigation/Navigation.tsx
  src/common/components/Navigation/index.ts
  src/common/components/SvgIcon/SvgIcon.tsx
  src/common/components/SvgIcon/assets.ts
  src/common/components/SvgIcon/sprite/symbol/sprite.svg
  src/pages/index.tsx
  src/styles/emotion.d.ts
Labels: ✨feature

#29 feat : 기록 작성 페이지 사진 추가 기능개발
  src/features/Record/RecordArea/RecordArea.tsx
  src/features/Record/RecordArea/RecordAreaImage.tsx
  src/styles/global.tsx
Labels: ✨feature

#32 ✨ feat : 기록 작성 페이지 음악 검색, 영상 검색 기능 개발
  .env.development
  .env.production
  src/apis/client.ts
  src/common/components/Navigation/MusicSearchPageNavigation.tsx
  src/common/components/Navigation/PlayingSearchPageNavigation.tsx
  src/common/components/Navigation/index.ts
  src/common/components/Router/Router.tsx
  src/features/MusicSearch/components/MusicSearchInput.tsx
  src/features/MusicSearch/components/MusicSearchList.tsx
  src/features/MusicSearch/components/index.ts
  src/features/PlayingSearch/PlayingSearchList.tsx
  src/features/PlayingSearch/index.ts
  src/features/Record/Music/Music.tsx
  src/features/Record/YoutubePlay/YoutubePlay.tsx
  src/features/common/components/SearchInput.tsx
  src/features/common/components/index.ts
  src/mocks/handlers/index.ts
  src/mocks/handlers/music/index.ts
  src/mocks/handlers/play/index.ts
  src/pages/musicSearch/index.tsx
  src/pages/playingSearch/index.tsx
  src/styles/theme.ts
Labels: ✨feature

#34 ✨ feat: 캘린터 컴포넌트 리팩토링을 위한 페이지로의 이동
  src/common/components/Calendar/Calendar.tsx
  src/common/components/Calendar/index.ts
Labels: ✨feature

#36 🐛 fix: pc버전에서의 Slider 컴포넌트 깨짐 현상 수정
  src/features/Onboarding/components/Slider/Slider.tsx
Labels: 🐛bug

#38 ✨ feat: 아이콘 컴포넌트 추가 작성
  public/icons/common/alert_arrow_orange.svg
  public/icons/common/close_white_bold.svg
  src/common/components/SvgIcon/assets.ts
  src/common/components/SvgIcon/sprite/symbol/sprite.svg
Labels: ✨feature

#39 💄 style : 캘린더 페이지 UI 제작
  src/features/Calendar/components/Calendar/Calendar.tsx
  src/features/Calendar/components/Calendar/CalendarHeader.tsx
  src/features/Calendar/components/Calendar/index.ts
  src/features/Calendar/components/RecordList/Record.tsx
  src/features/Calendar/components/RecordList/RecordList.tsx
  src/features/Calendar/components/RecordList/index.ts
  src/features/Calendar/components/index.ts
  src/pages/index.tsx
Labels: ✨feature, :lipstick: design

#43 💄 style: 뮤직라운지 페이지 UI 제작
  src/common/components/Router/Router.tsx
  src/features/MusicLounge/components/Background/Background.tsx
  src/features/MusicLounge/components/Background/Blur.tsx
  src/features/MusicLounge/components/Background/index.ts
  src/features/MusicLounge/components/MusicList/Music.tsx
  src/features/MusicLounge/components/MusicList/MusicList.tsx
  src/features/MusicLounge/components/MusicList/index.ts
  src/features/MusicLounge/components/Navigation.tsx
  src/features/MusicLounge/components/Section.tsx
  src/features/MusicLounge/components/index.ts
  src/pages/musicLounge/index.tsx
Labels: ✨feature, :lipstick: design

#46 💄 style: 스크롤 시 Navigation, Footer 컴포넌트 깨짐 현상 수정
  src/common/components/Footer/Footer.tsx
  src/common/components/Navigation/Navigation.tsx
Labels: 🐛bug, ✨feature

#49 ✨ feat: 기타 기능 수정 및 추가
  public/images/onboarding_graphic_1.png
  public/images/onboarding_graphic_2.png
  public/images/onboarding_graphic_3.png
  src/common/components/Footer/CalendarPageFooter.tsx
  src/features/Onboarding/components/Slider/Slider.tsx
  src/pages/index.tsx
Labels: ✨feature, :lipstick: design
